// AeroChat.module.scss

.aeroChat {
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  scrollbar-width: none; // Firefox 스크롤바 제거
  -ms-overflow-style: none; // IE 스크롤바 제거

  &::-webkit-scrollbar {
    display: none; // 크롬, 사파리 스크롤바 제거
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .aeroChatMessages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 80px;
    overflow-y: auto;
    height: calc(100vh - 140px); // 부모 높이에서 패딩과 여백을 제외한 값
    max-height: calc(100vh - 140px); // 필요 시 최대 높이도 제한

    // 스크롤 스냅 (사용자가 스크롤 후 마지막 메시지에 위치하도록)
    scroll-behavior: smooth;

    // 스크롤의 기본 스타일을 숨기기 위한 테크닉
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    .sentMessage {
      align-self: flex-end;
      justify-content: flex-end;

      .messageBubble {
        // background-color: #007aff;
        // background: linear-gradient(135deg, #4c68d7, #9b59b6);
        background: linear-gradient(135deg, #9b59b6, #4c68d7);
        // background: linear-gradient(135deg, #c042e6, #4b52e0);
        // background: linear-gradient(135deg, rgba(200, 230, 255, 1), rgba(150, 200, 250, 0.9));
        // background: linear-gradient(135deg, rgba(120, 170, 240, 1), rgba(80, 140, 220, 0.9));

        color: #ffffff;
        border-radius: 20px;
        border-bottom-right-radius: 4px;
        padding: 10px 15px;
        line-height: 1.5;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }

    .receivedMessage {
      align-self: flex-start;
      justify-content: flex-start;

      .messageBubble {
        background-color: #ffffff;
        // background: linear-gradient(135deg, rgba(255, 210, 255, 1), rgba(240, 200, 250, 0.9));
        // background: linear-gradient(135deg, rgba(230, 230, 230, 1), rgba(200, 220, 230, 0.9));
        // background: linear-gradient(135deg, rgba(245, 245, 245, 1), rgba(220, 235, 245, 0.9));

        // color: #000000;
        color: #333333;
        /* 진한 텍스트 */

        border-radius: 20px;
        border-bottom-left-radius: 4px;
        padding: 10px 15px;
        line-height: 1.5;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      }

      .messageBubble p {
        white-space: pre-wrap;
      }
    }
  }
}

.chatForm {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;

  // border-top: 1px solid #ccc;
  // background-color: #f9f9f9;
  .chatInput {
    flex: 1;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    // transition: border-color 0.2s;
    transition: box-shadow 0.3s ease;


    &:focus {
      // border-color: #007aff;
      box-shadow: 0px 6px 15px rgba(0, 128, 255, 0.5);

    }
  }

  .sendButton {
    padding: 10px 20px;
    background-color: #007aff;
    // background: linear-gradient(135deg, rgba(200, 230, 255, 1), rgba(150, 200, 250, 0.9));
    // background: linear-gradient(135deg, #c042e6, #4b52e0);
    // background: linear-gradient(135deg, rgba(120, 170, 240, 1), rgba(80, 140, 220, 0.9));

    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    // transition: background-color 0.2s;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #005bb5;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}