// 카테고리 버튼
@import '@/styles/_variables.scss';

.categoryButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg, #007aff, #007aff);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease, transform 0.2s ease;

  &:hover {
    background: linear-gradient(90deg, #005bb5, #003f80);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &.active {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(180, 210, 255, 0.8));
    color: #005bb5;
    /* 강조된 파랑색 */
    box-shadow: 0px 6px 14px rgba(0, 91, 181, 0.4);
    /* 더 두드러지는 그림자 */
    transform: translateY(-3px);
    /* 약간 더 올라가는 효과 */
    border: 1px solid rgba(0, 91, 181, 0.6);
    /* 테두리 추가 */
  }
}