// app/about/page.module.scss

@import '@/styles/_variables.scss';

.aboutSection {
  height: 100vh;
  background: transparent;
  padding: 50px;

  .aboutContents {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .aboutProfile {
      flex: 4.5;

      .aboutProfileCard {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 40px;

        .aboutProfileImage {
          flex: 1;
        }

        .aboutProfileText {
          flex: 2;

          div {
            &.aboutProfileLabel {
              font-weight: 550;
            }

            &.aboutProfileNameValue {
              font-weight: 400;
            }
          }

          .aboutProfileName {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          .aboutProfileTitle {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          .aboutProfileExperience {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          .aboutProfileCurrentCompany {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          .aboutProfileCurrentPosition {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }
        }
      }
    }

    .aboutMe {
      flex: 5.5;
    }
  }

  .aboutFEContents {
    flex: 1;
    gap: 20px;
    height: 100%;
    max-height: 100%;
    padding-top: 30px;

    .aboutFECard {
      height: auto;

      .aboutFEText {
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
      }
    }

  }
}