.projectsSection {
  // background-color: var(--projects-bg-color);
  padding: 100px 0;
  width: calc(100% - 100px);
  /* 좌우 패딩을 고려한 유동적인 너비 */
  max-width: 2000px;
  /* 최대 너비 제한 */
  height: '100vh';
  background: 'transparent';
  // background: $project-bg-color;
  padding: 20px;
  margin: 0 auto;
  /* 좌우 중앙 정렬 */

  .projectCategory {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
  }

  .projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 74px;

  }


}