/* _variables.scss */


// Global
$text-color: #333A4D;


// Hero Section
$hero-bg-color: linear-gradient(120deg,
    rgba(160, 215, 255, 1) 0%,
    rgba(174, 232, 255, 0.8) 20%,
    rgba(160, 215, 255, 0.6) 30%,
    rgba(184, 255, 230, 1) 50%);
$hero-highlight-color: rgba(60, 90, 120, 1);
$hero-highlight-color-2: rgba(100, 140, 180, 1);
$hero-text-color: rgba(120, 150, 180, 0.9);


// Project Section
$project-bg-color: linear-gradient(120deg,
    rgba(184, 255, 230, 1) 20%,
    rgba(250, 250, 205, 0.8) 60%,
    rgba(255, 250, 205, 0.6) 70%,
    rgba(255, 245, 210, 1) 100%);
$project-highlight-color: #93C5FD;


// Tech Section
$tech-bg-color: linear-gradient(120deg,
    rgba(173, 216, 230, 1) 20%,
    /* 파스텔 블루 */
    rgba(144, 238, 144, 0.8) 60%,
    /* 라이트 라임 그린 */
    rgba(173, 255, 47, 0.6) 80%,
    /* 연한 노란빛 라임 */
    rgba(34, 139, 34, 1) 120%
    /* 진한 그린 */
  );

// Career Section
$career-bg-color: linear-gradient(120deg,
    rgba(255, 200, 140, 1) 0%,
    /* 밝은 주황색 */
    rgba(255, 160, 122, 1) 30%,
    /* 살구빛 주황색 */
    rgba(100, 120, 200, 1) 70%,
    /* 푸른빛이 섞인 중간색 */
    rgba(50, 60, 100, 1) 100%
    /* 네이비 */
  );

// Contact Section
$contact-bg-color: linear-gradient(70deg,
    rgba(255, 182, 193, 1) 0%,
    /* 파스텔 핑크 */
    rgba(255, 160, 170, 0.8) 25%,
    /* 부드러운 코랄 핑크 */
    rgba(230, 210, 255, 0.7) 50%,
    /* 라벤더 블루 */
    rgba(200, 220, 250, 0.9) 75%,
    /* 은은한 라이트 블루 */
    rgba(240, 240, 250, 1) 100%
    /* 부드러운 라벤더 */
  );


// :root {
//   --hero-bg-color: #{$hero-bg-color};
//   --project-bg-color: #{$project-bg-color};
//   --tech-bg-color: #{$tech-bg-color};
//   --career-bg-color: #{$career-bg-color};
//   --contact-bg-color: #{$contact-bg-color};
// }


// Breakpoints
$breakpoints: (
  "xxlarge": 3840px,
  "xlarge": 1600px,
  "large": 1400px,
  "desktop": 1200px,
  "tablet": 768px,
  "mobile": 480px
);