@import '@/styles/_variables.scss';

.careerSection {
  height: '100vh';
  background: 'transparent';
  // background: $career-bg-color;
  padding: 50px;

  .careerCard {
    height: 50%;

    .careerHeader {
      h1 {
        font-size: 3rem;
      }
    }

    .careerBody {
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}