@import '@/styles/_variables.scss';

.contactSection {
  height: '100vh';
  background: 'transparent';
  // background: $contact-bg-color;
  padding: 50px;

  display: flex;
  flex-direction: row;
  gap: 20px;

  .contactChat {
    flex: 4;

    .aeroChat {
      height: 100%;
    }

  }

  .contactContents {
    flex: 6;
  }
}