@import '@/styles/_variables.scss';

.contactSection {
  padding: 50px;

  display: flex;
  flex-direction: row;
  gap: 20px;

  .contactChat {
    flex: 1;

    .aeroChat {
      height: 100%;
    }

  }

  .contactContents {
    flex: 1;
  }
}