/* HeroSection.module.css */
@import '@/styles/_variables.scss';

.heroSection {
  // background: linear-gradient(120deg,
  //     rgba(160, 215, 255, 1) 0%,
  //     rgba(174, 232, 255, 0.8) 40%,
  //     rgba(160, 215, 255, 0.6) 70%,
  //     rgba(174, 232, 255, 1) 100%);
  // background:
  //   radial-gradient(circle at top left, rgba(160, 215, 255, 0.8), transparent 60%),
  //   /* 은은한 빛 효과 */
  //   linear-gradient(135deg, #A0D7FF, rgba(255, 255, 255, 0.5) 70%, #AEE8D3);
  /* 메인 그라데이션 */
  padding: 50px;

  .heroCard {
    padding: 30px;
    display: flex;
    flex-direction: row;

    .heroLeft {
      width: 50%;

      .heroTitle {
        padding-bottom: 20px;
        // cursor: pointer;

        .heroMainTitle {
          color: $hero-highlight-color;
          font-size: 50px;
        }

        .heroSubtitle {
          color: $hero-highlight-color-2;
          font-size: 45px;
        }

      }

      .heroContent {
        p {
          color: $hero-text-color;
          font-size: 18px;
        }
      }
    }

    .heroRight {
      width: 50%;
    }

  }

}