/* HeroSection.module.css */
@import '@/styles/_variables.scss';

.heroSection {
  height: '100vh';
  background: 'transparent';
  // background: $hero-bg-color;
  padding: 50px;

  .heroCard {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .heroLeft {
      width: 100%;

      .heroTitle {
        padding-bottom: 20px;
        // cursor: pointer;

        .heroMainTitle {
          color: $hero-highlight-color;
          font-size: 55px;
        }

        .heroSubtitle {
          color: $hero-highlight-color-2;
          font-size: 45px;
        }

      }

      .heroContent {
        p {
          color: $hero-text-color;
          font-size: 18px;
        }
      }
    }

    .heroRight {
      width: 100%;
    }

  }

}