/* HeroSection.module.css */

.heroSection {
  background-image: url('/images/my-site-bg1.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.heroCard {
  padding: 20px;
}