@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.projectSection {
  width: calc(100% - 100px);
  /* 좌우 패딩을 고려한 유동적인 너비 */
  max-width: 2000px;
  /* 최대 너비 제한 */
  height: '100vh';
  background: 'transparent';
  // background: $project-bg-color;
  padding: 50px;
  margin: 0 auto;
  /* 좌우 중앙 정렬 */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 74px;
  // align-items: center;
  // justify-content: center;

  .projectCardWrapper {
    position: relative;
    z-index: 2;
    max-height: 200px;
  }

  .projectCard {
    padding: 20px;
    cursor: pointer;

    .projectHeader {
      max-height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .projectBody {
      h1 {
        margin-bottom: 15px;
      }

      padding: 20px;
      height: 100%;
      min-height: 100px;
      max-height: 400px;
      overflow: hidden;
    }
  }


  // 미디어 쿼리
  @include respond-to("xxlarge") {
    width: calc(100% - 420px);
    /* 좌우 패딩을 고려한 유동적인 너비 */
    max-width: 3840px;
    gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  @include respond-to("xlarge") {
    width: calc(100% - 100px);
    gap: 75px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 1600px;
  }

  @include respond-to("large") {
    width: calc(100% - 100px);
    gap: 75px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }


  @include respond-to("desktop") {
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @include respond-to("tablet") {
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  @include respond-to("mobile") {
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

}