@import '@/styles/_variables.scss';

.projectSection {
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;

  .projectCard {
    padding: 20px;

  }
}