@import '@/styles/_variables.scss';

.techSection {
  padding: 50px;

  .techContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .techCategoryCard {
    padding: 20px;
  }
}