// TODO: 프로젝트 상세 페이지 스타일링
.projectDetailSection {
  height: 100vh;
  background: transparent;
  padding: 50px;

  .projectDetailContents {
    flex: 1;

    .projectDetailCard {
      height: 100%;
      max-height: 100%;
    }
  }

}